.group__modals {
    color: black;

    .group__modal-head {
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    .group__modal-body {
        input {
            margin-bottom: .8rem;
        }
    }
}