.testb .accordion-body {
    padding: 0;
}

.test-body {
    display: flex;

}

.accordion-item {
    border: none;
}

.test-row {
    outline: 6px solid #F4F7FE;
    border-radius: 6px;
    color: #5b5b5b;
}